<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http:www.thymeleaf.org">
    <head>
        <title>Taco Cloud</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
    </head>
    <body>
        <h1>Design your Taco!</h1>
        <img th:src="@{/images/Taco-cloud.png}" />
        <form method="post" th:object="${taco}">

            <span class="validationError"
                  th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}">Ingredients error</span>
            <br />

            <div class="grid">

                <div class="ingredient-group" id="wraps">
                    <h3>What's your wrap?</h3>
                    <div th:each="ingredient : ${wrap}">
                        <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">INGREDIENT-WRAP</span><br/>
                    </div>
                </div>

                <div class="ingredient-group" id="proteins">
                    <h3>Pick your Protein</h3>
                    <div th:each="ingredient : ${protein}">
                        <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">INGREDIENT-PROTEIN</span><br/>
                    </div>
                </div>

                <div class="ingredient-group" id="cheese">
                    <h3>Choose your Cheese</h3>
                    <div th:each="ingredient : ${cheese}">
                        <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">INGREDIENT-CHEESE</span><br/>
                    </div>
                </div>

                <div class="ingredient-group" id="veggies">
                    <h3>Verify your Veggies</h3>
                    <div th:each="ingredient : ${veggies}">
                        <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">INGREDIENT-VEGGIES</span><br/>
                    </div>
                </div>

                <div class="ingredient-group" id="sauces">
                    <h3>Select your Sauces</h3>
                    <div th:each="ingredient : ${sauce}">
                        <input th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}" />
                        <span th:text="${ingredient.name}">INGREDIENT-SAUCE</span><br/>
                    </div>
                </div>

            </div>
            <div>
                <h3>Name your Taco:</h3>
                <input type="text" th:field="*{name}" />
                <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Taco Name error</span>
                <br />
                <button>Submit</button>
            </div>
        </form>
    </body>
</html>